  <div class="piggy-return-top">
    <i class="angle double up large icon"></i>
  </div>
  <footer>Copyright &copy; <%= new Date().getFullYear() %> <%= site.owner %></footer>
  <script>
  $('.ui.dropdown').dropdown();

  const returnTop = document.querySelector('.piggy-return-top');
  window.onscroll = () => {
    if(window.pageYOffset > window.innerHeight) {
      returnTop.style.visibility = 'visible';
    }
    else {
      returnTop.style.visibility = 'hidden';
    }
  };
  returnTop.onclick = () => $('body').animate({scrollTop: 0}, 'slow');

  <%# 主页编辑 %>
  <% if(path === '/home/editing') { %>
  $('.menu .item').tab();

  document.querySelector('a[class="item piggy-preview"]').onclick = function() {
    const introduction = marked(document.querySelector('textarea[name="introduction"]').value);
    const email = document.querySelector('input[name="email"]').value;
    const github = document.querySelector('input[name="github"]').value;
    const weibo = document.querySelector('input[name="weibo"]').value;
    const twitter = document.querySelector('input[name="twitter"]').value;

    const emailInfo = email ? `<a class="ui circular icon button" href="mailto:${email}"><i class="mail outline icon"></i></a>` : '';
    const githubInfo = github ? `<a class="ui circular icon button" href="${github}" target="_blank"><i class="github icon"></i></a>` : '';
    const weiboInfo = weibo ? `<a class="ui circular icon button" href="${weibo}" target="_blank"><i class="weibo icon"></i></a>` : '';
    const twitterInfo = twitter ? `<a class="ui circular icon button" href="${twitter}" target="_blank"><i class="twitter icon"></i></a>` : '';

    const contactInfo = `${emailInfo}${githubInfo}${weiboInfo}${twitterInfo}`;


    document.querySelector('#piggy-preview').innerHTML = `${introduction}${contactInfo}`;
  };
  <% } %>

  <%# 博客编辑 %>
  <% if(/\/posts\/[0-9a-f]{64}\/editing/.test(path)) { %>
  $('.menu .item').tab();

  document.querySelector('a[class="item piggy-preview"]').onclick = function() {
    const title = document.querySelector('input[name="title"]').value;
    const postContent = marked(document.querySelector('textarea[name="content"]').value);

    const titleInfo = `<h1 class="ui header">${title}</h1>`;
    document.querySelector('#piggy-preview').innerHTML = `${titleInfo}${postContent}`;

    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  };
  <% } %>

  <% if(postId) { %>
  $('.piggy-reply').click(function() {
    $(this).siblings('.ui.modal').modal('show');
  });
  hljs.initHighlightingOnLoad();
  <% } %>
  </script>
</body>
</html>
