<div class="ui fixed borderless stackable large menu">
  <div class="ui container">
    <a class="item" href="/">主页</a>
    <a class="item" href="/blogs">博客</a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="搜索...">
          <i class="search icon"></i>
        </div>
      </div>
      <a class="item" href="/signup">注册</a>
      <a class="item" href="/signin">登录</a>
    </div>
  </div>
</div>
