<%- include('components/header') %>
<%- include('components/nav') %>
<div class="ui centered grid">
  <%
  if(posts) {
    posts.forEach((post) => {
  %>
    <%- include('components/session', {post: post}) %>
  <%
    })
  }
  %>
</div>
<%- include('components/footer') %>
