<%- include('components/header') %>
<%- include('components/nav') %>
<div class="ui centered grid">
  <div class="ui raised segment ten wide column">
    <%- include('components/notification') %>
    <form class="ui form" method="post">
      <div class="field">
        <input type="text" name="title" placeholder="标题*" required>
      </div>
      <div class="field">
        <textarea name="content" placeholder="内容..." rows="30" required></textarea>
      </div>
      <input class="ui fluid teal button" type="submit" value="发布">
    </form>
  </div>
</div>
<%- include('components/footer') %>
