<%- include('components/header') %>
<%- include('components/nav') %>
<div class="ui centered grid">
  <div class="ui raised segment ten wide column">
    <h1 class="ui centered header">hello piggy!</h1>
  </div>
</div>
<%- include('components/footer') %>
