<div class="ui raised segment ten wide column">
  <h1 class="ui header"><%= post.title %></h1>

  <p><%= post.content %></p>

  <button class="ui right labeled blue icon button floated">
    <i class="ui right arrow icon"></i>
    查看更多
  </button>
</div>
