<div class="ui raised segment ten wide column">
  <h1 class="ui header"><%= post.title %></h1>

  <% if(post.content.length > 200 ) { %>
    <p><%= post.content.slice(0, 200) %></p>
  <% } else { %>
    <p><%= post.content %></p>
  <% } %>

  <a class="ui right labeled blue icon button floated" href="/posts/<%= post.postId %>">
    <i class="ui right arrow icon"></i>
    查看更多
  </a>
</div>
