<%- include('components/header') %>
<%- include('components/nav') %>
<div class="ui centered grid">
  <div class="ui six wide column raised segment">
    <%- include('components/notification') %>
    <h1 class="ui centered header">注册</h1>
    <form class="ui form" method="post">
      <div class="field">
        <input type="text" name="username" placeholder="用户名*" required>
      </div>
      <div class="field">
        <input type="url" name="website" placeholder="个人网址(可选)">
      </div>
      <div class="field">
        <input type="email" name="email" placeholder="邮箱*" required>
      </div>
      <div class="field">
        <input type="password" name="password" placeholder="密码*" required>
      </div>
      <div class="field">
        <input type="password" name="repassword" placeholder="确认密码*" required>
      </div>
      <input class="ui fluid teal button" type="submit" value="提交">
    </form>
  </div>
</div>
<%- include('components/footer') %>
