body {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 16px;
  height: auto;
}
table {
  margin: 16px;
}
table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
table th, td {
   padding: 6px 13px;
   border: 1px solid #dfe2e5;
}
blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  margin-left: 20px;
}
code {
  background-color: #eee;
  border-radius: 3px;
  padding: .2em;
}
.grid img {
  width: 100%;
}
.piggy-blog-list {
  margin: 0 !important;
}
.piggy-session {
  margin-bottom: 20px;
}
.piggy-metadata {
  font-size: .9em;
  color: #bbb;
  margin-top: 10px;
}
.piggy-session-date {
  font-size: .6em;
  color: #bbb;
  margin-left: 15px;
  font-weight: 500;
  font-style: italic;
}
.piggy-sidebar {
  width: 15.9375%;
  position: fixed !important;
  top: 100px;
  right: 0px;
  text-align: left;
  padding-top: 5px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.piggy-sidebar h3 {
  margin: 10px 0;
}
.piggy-sidebar a {
  text-decoration: none;
  margin-bottom: 5px !important;
}
.piggy-tag-bar a {
  text-decoration: none;
}
.piggy-pv {
  margin-right: 10px;
}
.piggy-reply-box {
  background-color: #eee;
  padding: 10px;
}
.piggy-return-top {
  position: fixed;
  right: 30px;
  bottom: 40px;
  padding: 15px 0 15px 4px;
  border: 1px solid #a4c6ff;
  color: #777;
  cursor: pointer;
  border-radius: 5px;
  opacity: .4;
  visibility: hidden;
  transition: transform .5s linear;
}
.piggy-return-top:hover {
  opacity: 1;
}
.piggy-pagination {
  margin: 30px auto 20px;
  text-align: center;
}
.piggy-pagination a {
  font-size: .6em;
  color: #666;
  border: 1px solid #d1ced1;
  border-radius: 15px;
  margin-right: 6px;
  text-decoration: none;
}
.piggy-pagination a[class*="page"]:hover, a[class*="page"]:active {
  background-color: #00B5AD;
  color: #fff;
  border-color: #00B5AD;
}
.piggy-pagination a.piggy-normal-page, .piggy-ellipsis {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
}
.piggy-pagination a.piggy-last-page, a.piggy-next-page {
  width: 60px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
}
.disabled {
  pointer-events: none;
}
a.piggy-index {
  background-color: #00B5AD;
  color: #fff;
  border-color: #00B5AD;
}
footer {
  text-align: center;
  line-height: 33px;
  margin: 20px auto 10px;
  font-size: .9em;
}
